$break-small: 576px;
$break-mobile:768px;
$break-medium: 992px;
$break-large: 1200px;

.services{
  .services_holder{
    position: relative;
    overflow: hidden;
    @media screen and (max-width: $break-medium) {
      display: flex;
      justify-content: center;
    }
    @media screen and (max-width: $break-mobile) {
      padding-left: 0;
      padding-right: 0;
    }
    .service{
      width: 550px;
      height: 550px;
      background-image: url("/static/images/material.png");
      position: relative;
      transition:top .4s ease-out;
      cursor:pointer;
      @media screen and (max-width: $break-large) {
        width: 460px;
        height: 460px;
      }
      @media screen and (max-width: $break-medium) {
        width: 500px;
        height: 500px;
      }
      @media screen and (max-width: $break-small) {
        width: 360px;
        height: 360px;
      }
      &:hover{
        background-image: none;
        background-color: #b4192c;
      }
      h2{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color:white;
        font-size: 2.75em;
        @media screen and (max-width: $break-small) {
          font-size: 2em;
        }
      }
      h3{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color:white;
        font-size: 1.75em;
      }
    }
    .service_content{
      position: absolute;
      top: 0;
      margin-top: 1.5em;
      width: 550px;
      height: 550px;
      background-image: url("/static/images/material2.png"); 
      cursor:pointer;
      @media screen and (max-width: $break-large) {
        width: 460px;
        height: 460px;
      }
      @media screen and (max-width: $break-medium) {
        width: 500px;
        height: 500px;
      }
      @media screen and (max-width: $break-small) {
        width: 360px;
        height: 360px;
      }
      h2{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color:#2d2c2d;
        font-size: 2.75em;
        @media screen and (max-width: $break-small) {
          font-size: 2em;
          margin-top: 20px;
        }
      }
      p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1em;
        color:#505051;
        padding-top: 1em;
        padding-left: 2.5em;
        padding-right: 2.5em;
        @media screen and (max-width: $break-large) {
          font-size: 0.9em;
        }
        @media screen and (max-width: $break-small) {
          overflow-y: auto;
        }
      }
    }
  }
}

.show{
  top: 0;
}
.hide{
  top:-110%;
}