.career{
  background-color: #ededed;
  padding-bottom: 120px;
  .text_holder{
    h4{
      font-size: 3.125em;
      font-family: 'Roboto', sans-serif;
      font-weight: 400 !important;
      color: #2d2c2d;
      padding-top: 90px;
      padding-bottom: 0px;
    }
    h6{
      font-size: 1.5em;
      font-family: 'Roboto', sans-serif;
      font-weight: 400 !important;
      color: #535353;
      padding-top: 40px;
    }
    p{
      font-size: 1.125em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300 !important;
      color: #535353;
      padding-top: 80px;
    }
    a{
      color:#b4192c;
    }
  }
}